@page "/"

<h1>Hello, world!</h1>

I'm Matheus Sartor, mechanical engineer graduated by UFRJ and master student in Computer Science. Here you can find some of my works and related content.

<SurveyPrompt Title="How is Blazor working for you?" />
